<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://org.crm.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="admin@org.onmicrosoft.com" />
    <add key="password" value="" />
    <add key="out" value="../typings/XRM" />
    <add key="solutions" value="" />
    <add key="entities" value="account" />
    <add key="web" value="" />
    <add key="jsLib" value="../src/lib" />
  </appSettings>
</configuration>